/* Heading info */
#AboutMe {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Name */
h1 {
  color: pink;
  font-size: 100px;
  font-family: 'Shadows Into Light Two', cursive;
  text-align: center;
  margin: 20px 0 20px 0;
}

/* Intro text */
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-align: justify;
  margin: 10 8% 10 8%;
}

/* background for images */
.slideshow-container {
  display: inline-flex;
  flex-position: row;
  justify-content: space-between;
  height: 150px;
  width: 75%;
  background: pink;
  margin: 5% 12.5% 5% 12.5%;
}

/* photos */
.mySlides {
  display: none;
  order: 1;
}

/* navigation buttons */
.next, .previous {
  align-self: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 22px;
}

/* hover over navigation buttons */
.previous:hover, .next:hover {
  color: rgba(0,0,0,0.8);
}


.previous {
  order: 0;
}

.next {
  order: 2;
}

/* caption text */
.text {
  color: black;
  font-size: 15px;
  /* padding:  */
  position: absolute;
  text-align: justify;
}

/* Number indicators */
.numbertext {
  color: black;
  font-size: 12px;
  /* padding:  */
  position: absolute;
}

/* dots/ indicators */
.dot {
  cursor: pointer;
  border-radius: 50%;
  background-color: black;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: white;
}

/* fade animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* navigation links */
.links{
  position: relative;
  text-align: center;
  background-color: pink;
  height: 50px;
  /* margin-bottom: 0px; */
  width: 100%;
  z-index: -1;
}

.fab{
  position: relative;
	color : black;
	font-size: 30px;
	letter-spacing: 40px;
	margin-top : 10px;
  z-index: 1;
}
