/* Color scheme:
  #EDC7B7 - dark peach
  #EEE2DC - light peach
  #BAB2B5 - stone grey
  #123C69 - navy blue
  #AC3B61 - maroonish */


* {box-sizing: border-box}
.mySlides {display:none}
img {vertical-align: middle;}

body {
  background-color: #EEE2DC;
  margin: 0;
  padding: 0;
  width: 100%;
}

.intro_page {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

h1 {
  color: #AC3B61;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 40px;
  position: relative;
  margin-top: 10px;
  margin-left: 15px;
}

.end_page {
  color: white;
  position: absolute;
  right: 100px;
  top: 50%;
}

.tree_container {
  position: absolute;
  width: 80vw;
  height: 80vh;
  margin-top: 10vh;
  margin-left: 10vw;
  text-align: center;
  justify-content: center;
  order: 3;
}

.intro_photo {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #123C69;
  font-size: 15px;
  position: absolute;
  text-align: justify;
  width: 20vw;
  margin-top: 33vh;
  margin-left: 1vw;
  order: 2;
}

@media (max-width: 1200px) {
  .intro_page {
    display: flex;
    flex-direction: column;
  }
  .intro_photo {
    max-height: 80%;
    width: auto;
    max-width: 100%;
    padding-bottom: 5px;
  }
  .end_page {
    color: white;
    position: absolute;
    right: 50%;
    top: 70%;
  }
  p {
    position: relative;
    margin-top: 60vh;
    width: 80vw;
    align-self: center;
    max-width: 800px;
  }
}

.slideshow-container {
  display: inline-flex;
  width: 75%;
  height: auto;
  background: pink;
  margin: 5% 12.5% 5% 12.5%;
  font-family: 'Roboto', sans-serif;
  color: white;
  position: relative;
  border-width: thick;
  border-style: solid;
  border-color: black;
}

.myslides:hover {

}

.mySlides p {
  margin: 5px;
  color: grey;
}

.next, .previous {
  cursor: pointer;
  position: absolute;
  align-self: center;
  color: white;
  font-weight: bold;
  font-size: 22px;
  transition: color 0.4s ease;
  z-index: 1;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.next:hover, .previous:hover {
  color: black;
  background-color: rgb(255,255,255,0.5);
}

.numbertext {
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: arial, cursive;
  position: absolute;
  top: 0;
  padding: 8px;
}

.dot {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  border-radius: 50%;
  background-color: #bbb;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: black;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


/* arrow fade?? */
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* navigation links */
.links{
  text-align: center;
  background-color: pink;
  height: 40px;
  margin-bottom: 0px;
  width: 100%;
  z-index: -1;
}

.fab{
  position: relative;
	color: black;
	font-size: 30px;
	letter-spacing: 40px;
	margin-top : 5px;
  margin-bottom: 5px;
  z-index: 1;
}

.fab:hover {
  transform: scale(0.9);
}
